{% from "wire/macros.html" import wire_frame, wire_trigger, wire_mutation %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example</title>
  {{ wire.load_js() }}
</head>
<body>
{{ wire_frame(id='test', initial=url_for('header')) }}
{{ wire_frame(id='test2', initial=url_for('sub_header')) }}
{{ wire_frame(id='test3', initial=url_for('sub_sub_header')) }}
{{ wire_frame(id='messages_list', initial=url_for_sync('messages_list')) }}
{{ wire_trigger(target='test', source=url_for('another_header'), text='Change header') }}
<div style="margin-top: 20px">
  <form method="post" action="{{ url_for('add_message') }}" {{ wire_mutation(target='messages_list') }}>
    <input name="message" placeholder="Message">
    <button type="submit">Add message</button>
  </form>
</div>
<div style="margin-top: 20px">
  <form method="get" action="{{ url_for('messages_list') }}" {{ wire_mutation(target='messages_list') }}>
    <input name="search" placeholder="Search term">
    <input type="submit" value="Search">
    <input type="reset">
  </form>
</div>
{{ wire_frame(id='test4', initial='/someurl') }}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.addEventListener('wire:frame_load', function () {
      console.log('Global event received')
    }, true)
    document.addEventListener('wire:frame_load messages_list', function () {
      console.log('Local event received for messages_list frame')
    })
  })
</script>
</body>
</html>